html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.3em;
    border-top-style: ridge;
    border-top-color: #d3d3d3;
    border-top-width: thin;
    background-color: white;
    border-color: #c7c7c7;
    opacity: 0.9;
}

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    margin-left: 1.3em;
    cursor: pointer;
}

#navbar a:hover {
    color: #A6ACAF;
}

#navbar a.active {
    background-color: #4CAF50;
    color: black;
}

.searchContainer {
    text-align: center;
    position: absolute;
    right: -25%;
    bottom: 50%;
    width: 35%;
    display: block;
    margin: 0 auto;
}

#searchBar{
    position: absolute;
    top: 35%;
    right: 75%;
    margin: 0 auto;
    width: 65%;
    height: 40px;
    padding: 0 20px;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 25px;
    font-family: "Helvetica Neue";
    outline: none;
}

.searchIcon{
    position: absolute;
    top: 62%;
    right: 78%;
    width: 4%;
    height: 70%;
}

#watch {
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: 2px;
}

#logo {
    font-size: 35px;
    font-family: "Helvetica Neue";
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

#profile {
    width: 30px;
    height: 30px;
}

footer {
    background-color: #1a1919;
    height: 12%;
    display: block;
    padding-top: 30px;
    position: relative;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 15px;
    position: relative;
    color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */


#loginBtn {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 15px; 
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#loginBtn:hover, #cancelBtn:hover {
    background-color: #4688F1;
}

#cancelBtn {
    margin: 8px 0;
    border: none;
    cursor: pointer;
    color: white;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.loginContainer, .watchModalContainer, .addProductContainer, .deleteProductContainer, .addProductContainer {
    padding: 16px;
}

span.psw {
    position: relative;
    top: 20%;
    left: 8%;
    padding-top: 10px;
    font-family: "Helvetica Neue";
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
}

.watchModal-content {
    background-color: #020202;
    margin: 1% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #E8E2E2;
    width: 75%; /* Could be more or less, depending on screen size */
    height: 80%;
}

.addProductModal-content {
    background-color: #fefefe;
    margin: 1% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #E8E2E2;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 88%;
}

.editProductModal-content {
    background-color: #fefefe;
    margin: 1% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #E8E2E2;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 88%;
}


.deleteProductmodal-content {
    background-color: #fefefe;
    margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #E8E2E2;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 40%;
    text-align: center;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover {
    color: #4688F1;
    cursor: pointer;
}

.watchShop {
    position: absolute;
    right: 25px;
    top: 0;
    color: #A1A1A1;
    font-size: 35px;
    font-weight: bold;
}

.watchShop:hover {
    color: #373737;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
        font-family: "Helvetica Neue";
    }
    .cancelbtn {
        width: 100%;
    }
}

.loginText {
    font-family: "Helvetica Neue";
}

.aLogin {
    text-decoration: none;
    color: #4688F1;
    font-family: "Helvetica Neue";
}

#error {
    position: relative;
    left: 16%;
    font-family: "Helvetica Neue";
    color: #E8453C; 
}

#shopContainer {
    background-color: #020202;
    text-align: center;
    color: white;
    width: 100%;
    height: 150%;
    max-height: 150%;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#bigMessage {
    position: relative;
    top: 12%;
    transform: translateY(-50%); 
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 40px;
    color: white;
    font-weight: bold;
}

#watches {
    overflow: hidden; 
    display: flex;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

#watchRow {
    position: relative;
    top: 12%;
/*    max-width: 80%;*/
}

#watchShop {
    text-align: center;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 15%; 
    height: 18%;
    display: inline-block;
    margin-bottom: 7em;
    margin-right: 1em;
    border-radius: 25px;
}

#watchShop span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 4.5em 0;
    background: #1a1919;
    opacity: 0;
    transition: all 0.8s ease;
    border-radius: 25px;
}

#watchShop span:hover {
    opacity: 0.9;
}

.watchShopButton {
    background-color: white;
    color: black;
    font-family: "Helvetica Neue";
    font-weight: bold;
    padding: 2px 10px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 1em;
    display: inline-block;
}

.watchShopButton:hover {
    background-color: #B3B3B3;
    color: white;
    cursor: pointer;
}

.watchText {
    position: relative;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: bold;
}

.aWatch {
    position: relative;
    top: 20%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.aWatch:hover {
    position: relative;
    top: 20%;
    text-align: center;
    text-decoration: none;
    color: #A6ACAF;
}

.addProductBigText {
    font-family: "Helvetica Neue";
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.addProductSmallText {
    font-family: "Helvetica Neue";
    color: black;
    font-size: 16px;
}

#nameInput {
    width: 79%;
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: "Helvetica Neue";
}

#descriptionInput {
    margin: -5px 0;
    width: 95.5%;
    height: 20%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    font-family: "Helvetica Neue";
}

#stockInput {
    width: 50%;
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: "Helvetica Neue";
}

#priceInput {
    width: 61.5%;
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: "Helvetica Neue";
}

#watchTypeText {
    display: inline-block;
}

.dropDown {
    left: -3%;
    display: inline-block;
    font-size: 14px;
    margin-left: 5%;
    margin-top: 1em;
    color: black;
    font-family: "Helvetica Neue";
    font-weight: bold;
}

#submitButton {
    background-color: black;
    color: white;
    font-family: "Helvetica Neue";
    font-weight: bold;
    padding: 14px 140px;
    font-size: 16px;
}

#submitButton:hover {
    background-color: #4688F1;
    color: white;
}

#watchImg {
    height: 60%; 
    width: 70%; 
}

#productName {
    color: #A29C97;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: bold;
}

#description, #quantityText {
    font-family: "Helvetica Neue";
    color: #424242;
    font-size: 14px;
    margin-right: 10%;
    text-align: justify;
}

#price {
    color: #A29C97;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: bold;
    display:inline-block;
}

#checkReviewsText {
    color: #A29C97;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: bold;
    display:inline-block;
    text-decoration: none;
    position: relative;
    left: 33%;
}

#checkReviewsText:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#stock {
    font-family: "Helvetica Neue";
    color: #424242;
    font-size: 14px;
    display:inline-block;
    font-style: italic;
}

#quantity {
    width: 20%;
    padding: 12px 20px;
    margin: -5px 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue";
}

#addToCart {
    background-color: white;
    color: black;
    font-family: "Helvetica Neue";
    font-weight: bold;
    padding: 14px 175px;
    font-size: 16px;
}

#addToCart:hover {
    background-color: #B3B3B3;
    color: white;
}

#deleteText {
    color: black;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: bold;
}

.deleteProductButton{
    background-color: black;
    color: white;
    font-family: "Helvetica Neue";
    font-weight: bold;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 1em;
    display: inline-block;
    text-decoration: none;
}

.deleteProductButton:hover {
    background-color: #B3B3B3;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
