<html>
<head>
    {% load static %}
	<title> Admin Sign Up </title>
	<link rel="icon" href="{% static 'aionApp/Images/watch.png' %}" type="image" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="{% static 'aionApp/adminpage.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="navbar">
        <p id="logo" style="position: absolute; left: -3%;"> 
            <a href="/aionApp/adminPage/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
             AION
        </p>

        <span style="position: absolute; left: 85%;">
            <a href="/aionApp/exitSession/">LOG OUT</a>    
        </span>
    </div>
    

	<div id="adminContainer">
		<p id="bigMessage">REGISTER AN ACCOUNT</p>
		<form class="addProductmodal-content animate"  action="{% url 'aionApp:addingAdmin' %}"method = "post">
        {% csrf_token %}
        <div id="container1">
			<div id="info">
				<div id="personalinfo">
					Personal Information
				</div>
				<br>
				<span class="fontUP">Last Name:</span> 
                <div id="align"> <input type="text" class="inputRegister" name="last_name"> </div>
                <br> <br>
                <span class="fontUP">First Name:</span>
                <div id="align"> <input type="text" class="inputRegister" name="first_name"> </div>
                <br> <br>
                <span class="fontUP">Middle Initial:</span>
                <div id="align"> <input type="text" class="inputRegister" name="middle_initial" pattern=".{1,3}"> </div>
                <br> <br>
                <span class="fontUP">E-mail Address:</span>
                <div id="align"> <input type="email" class="inputRegister" name="email"> </div>
                <br> <br>
				<span class="fontUP">Role: </span>
				<div id="alignDropdown">
                    <select class="dropDown", name="role_type"> ROLE TYPE 
                        <option value="0" selected> PRODUCT MANAGER </option>
                        <option value="1"> ACCOUNTING MANAGER </option>
				    </select>
                </div>
				<br> <br>
				
				<div id="accountinfo">
				Account Information
				</div>
				<br>
				<span class="fontUP">Username:</span>
                <div id="align"> <input type="text" class="inputRegister" name="user_name"> </div>
                <br> <br>
                <span class="fontUP">Password:</span>
                <div id="align"><input type="password" class="inputRegister" name="password1"> </div>
                <br> <br>
                <span class="fontUP">Confirm password:</span>
                <div id="align"> <input type="password" class="inputRegister" name="password2"> </div>
                <br> <br>
			</div>
        </div>
        <button id="submitButton" href="#">SUBMIT</button>
        </form>
	</div>
    <footer>Copyright © 2018 Xcite Interactive. All Rights Reserved.</footer>
</body>