<html>
    <head>
        {% load static %}
        <title> Admin Sign Up </title>
        <link rel="icon" href="{% static 'aionApp/Images/watch.png' %}" type="image" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="{% static 'aionApp/adminpage.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="navbar">
            <p id="logo" style="position: absolute; left: -3%;"> 
                <a href="/aionApp/exitSession/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                 AION
            </p>

            <span style="position: absolute; left: 85%;">
                <a href="/aionApp/exitSession/">LOG OUT</a>    
            </span>
        </div>
        
        <div id="uPolicyModal" class="modal">
            <form class="uPolicymodal-content animate">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('uPolicyModal').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                
                <div class="uPolicyContainer">
                    <p id="pBigMessage">USERNAME POLICY</p>
                    <p id="smallMessage">• It should only contain lowercase letters (a-z).</p>
                </div>
            </form>
        </div>
        
        <div id="pPolicyModal" class="modal">
            <form class="pPolicymodal-content animate">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('pPolicyModal').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                
               <div class="pPolicyContainer" style="padding: 16px;">
                    <p id="pBigMessage">PASSWORD POLICY</p>
                    <p id="smallMessage1">• Password must be at least 8 characters long and contain the following options:</p>
                    <p id="smallMessage2">• Lower case letter (a-z)</p>
                    <p id="smallMessage3">• Upper case letter (A-Z)</p>
                    <p id="smallMessage4">• Number (0-9)</p>
                    <p id="smallMessage5">• Special character (!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~)</p>
                </div>
            </form>
        </div>

        <div id="adminContainer">
            <p id="bigMessage">REGISTER AN ACCOUNT</p>
            <form class="addProductmodal-content animate"  action="{% url 'aionApp:addAdmin' %}"method = "post">
            {% csrf_token %}
            <div id="container1">
                <div id="info">
                    <div id="personalinfo">
                        Personal Information
                    </div>
                    <br>
                    <span class="fontUP">Last Name:</span> 
                    <div id="align"> <input type="text" class="inputRegister" name="last_name" required autocomplete="off" maxlength="20"> </div>
                    <br> <br>
                    <span class="fontUP">First Name:</span>
                    <div id="align"> <input type="text" class="inputRegister" name="first_name" required autocomplete="off" maxlength="25"> </div>
                    <br> <br>
                    <span class="fontUP">Middle Initial:</span>
                    <div id="align"> <input type="text" class="inputRegister" name="middle_initial" pattern=".{1,3}" required autocomplete="off" maxlength="3"> </div>
                    <br> <br>
                    <span class="fontUP">E-mail Address:</span>
                    <div id="align"> <input type="email" class="inputRegister" name="email" required autocomplete="off"> </div>
                    <br> <br>
                    <span class="fontUP">Role: </span>
                    <div id="alignDropdown">
                        <select class="dropDown", name="role_type"> ROLE TYPE 
                            <option value="0" selected> PRODUCT MANAGER </option>
                            <option value="1"> ACCOUNTING MANAGER </option>
                        </select>
                    </div>
                    <br> <br>

                    <div id="accountinfo">
                    Account Information
                    </div>
                    <br>
                    {% if errorUsername or errorUPolicy %}
                    <span class="fontUP">Username:</span>
                    <div id="align"> 
                        <input type="text" class="errorInputRegister" name="user_name" required autocomplete="off"> 
                        {% if errorUsername or errorUPolicy %}
                            <p class="errorAst">*</p>
                        {% endif %}
                    </div>
                    <br> 
                    {% if errorUsername %}
                    <div id="align">
                        <p id="error" style="top: -4.3%;">Username already exists.</p>
                    </div>
                    {% elif errorUPolicy %}
                    <div id="align">
                        <p id="error" style="top: -4%; left: 0%;">Username is too common or should follow our <a onclick="document.getElementById('uPolicyModal').style.display='block'" id="aError" style="font-weight: bold; cursor: pointer; color: #E8453C;">username policy.</a></p>
                    </div>
                    {% endif %}
                    <br>
                    {% else %}
                    <span class="fontUP">Username:</span>
                    <div id="align"> 
                        <input type="text" class="inputRegister" name="user_name" required autocomplete="off"> 
                        {% if errorUsername or errorUPolicy %}
                            <p class="errorAst">*</p>
                        {% endif %}
                    </div>
                    <br> <br>
                    {% endif %}
                    
                    {% if errorPassword or errorPPolicy %}
                    <span class="fontUP">Password:</span>
                    <div id="align">
                        <input type="password" class="errorInputRegister" name="password1" required> 
                        {% if errorPassword or errorPPolicy %}
                            <p class="errorAst">*</p>
                        {% endif %}
                    </div>
                    <br>
                    {% if errorPassword %}
                    <div id="align">
                        <p id="error" style="top: -18%;">Passwords do not match.</p>
                    </div>
                    {% elif errorPPolicy %}
                    <div id="align">
                        <p id="error" style="top: -4%; left: 6%;">Password should follow our <a onclick="document.getElementById('pPolicyModal').style.display='block'" class="aError">password policy.</a></p>
                    </div>
                    <br>
                    {% endif %}
                    {% else %}
                    <span class="fontUP">Password:</span>
                    <div id="align">
                        <input type="password" class="inputRegister" name="password1" required> 
                        {% if errorPassword or errorPPolicy %}
                            <p class="errorAst">*</p>
                        {% endif %}
                    </div>
                    <br> <br>
                    {% endif %}
                    
                    {% if errorPassword or errorPPolicy %}
                    <span class="fontUP">Confirm password:</span>
                    <div id="align"> 
                        <input type="password" class="errorInputRegister" name="password2" required> 
                        {% if errorPassword or errorPPolicy %}
                            <p class="errorAst">*</p>
                        {% endif %}
                    </div>
                    <br> <br>
                    {% if errorPassword %}
                    <div id="align">
                        <p id="error" style="top: -18%;">Passwords do not match.</p>
                    </div>
                    <br>
                    {% elif errorPPolicy %}
                    <div id="align">
                        <p id="error" style="top: -18%; left: 6%;">Password should follow our <a onclick="document.getElementById('pPolicyModal').style.display='block'" class="aError">password policy.</a></p>
                    </div>
                    <br>
                    {% endif %}
                    {% else %}
                    <span class="fontUP">Confirm password:</span>
                    <div id="align"> 
                        <input type="password" class="inputRegister" name="password2" required> 
                        {% if errorPassword or errorPPolicy %}
                            <p class="errorAst">*</p>
                        {% endif %}
                    </div>
                    <br> <br>
                    {% if errorUsername != True and errorUPolicy != True%}
                    <a id="uPolicy" onclick="document.getElementById('uPolicyModal').style.display='block'">Username Policy</a>
                    <a id="pPolicy" onclick="document.getElementById('pPolicyModal').style.display='block'">Password Policy</a>
                    {% endif %}
                    {% endif %}
                    <br> <br>
                </div>
            </div>
            <button id="submitButton" href="#">SUBMIT</button>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <footer>Copyright © 2018 Xcite Interactive. All Rights Reserved.</footer>
    </body>
</html>