<html>
    <head>
        {% load static %}
        <title>Edit Profile</title>
        <link rel="icon" href="{% static 'aionApp/Images/watch.png' %}" type="image" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="{% static 'aionApp/editprofile.css' %}">
    </head>
    
    <body>
        <div id="navbar">
            <p id="logo" style="position: absolute; left: -3%; bottom: -33%;">  
                <a href="/aionApp/homePage/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                 AION
            </p>
            
            <form class="searchContainer" role="search" method="get" action="{% url 'aionApp:search' %}">
                <input type="text" id="searchBar" placeholder="SEARCH AION"
                class="form-control" name="q" value="{{ request.GET.q }}" pattern="[A-Za-z0-9-\s]+">
                <button type="submit" class="btn btn-default"><img class="searchIcon" src="{% static 'aionApp/Images/search.png' %}"></button>
            </form>
            
            <span style="position: absolute; left: 25%;">
                <a href="/aionApp/shopPage/">SHOP</a>
                <a href="/aionApp/purchasePage/">PURCHASES</a>
                <a href="/aionApp/editProfilePage/">EDIT PROFILE</a>
                <a href="/aionApp/exitSession/">LOG OUT</a>
            </span>
        </div>
        
        <div id="uPolicyModal" class="modal">
            <form class="uPolicymodal-content animate">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('uPolicyModal').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                
                <div class="uPolicyContainer">
                    <p id="pBigMessage">USERNAME POLICY</p>
                    <p id="smallMessage">• It should only contain lowercase letters (a-z).</p>
                </div>
            </form>
        </div>
        
        <div id="pPolicyModal" class="modal">
            <form class="pPolicymodal-content animate">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('pPolicyModal').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                
               <div class="pPolicyContainer" style="padding: 16px;">
                    <p id="pBigMessage">PASSWORD POLICY</p>
                    <p id="smallMessage1">• Password must be at least 8 characters long and contain the following options:</p>
                    <p id="smallMessage2">• Lower case letter (a-z)</p>
                    <p id="smallMessage3">• Upper case letter (A-Z)</p>
                    <p id="smallMessage4">• Number (0-9)</p>
                    <p id="smallMessage5">• Special character (!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~)</p>
                </div>
            </form>
        </div>
        
        <div id="registerContainer">
            <p id="bigMessage">EDIT PROFILE</p>
            <form class="addProductmodal-content animate"  action="{% url 'aionApp:editingProfile' %}"method = "post">
                {% csrf_token %}
                <div id="container1">
                    <div id="info">
                        <div id="personalinfo">
                            PERSONAL INFORMATION
                        </div>
                        <br>
                        <span class="fontUP">Last Name:</span> 
                        <div id="align"> <input type="text" class="inputRegister" name="last_name" value={{currentUser.last_name}}> </div>
                        <br> <br>
                        <span class="fontUP">First Name:</span>
                        <div id="align"> <input type="text" class="inputRegister" name="first_name" value={{currentUser.first_name}}> </div>
                        <br> <br>
                        <span class="fontUP">Middle Initial:</span>
                        <div id="align"> <input type="text" class="inputRegister" name="middle_initial" pattern=".{1,3}" value={{currentUser.middle_initial}}> </div>
                        <br> <br>
                        <span class="fontUP">E-mail Address:</span>
                        <div id="align"> <input type="email" class="inputRegister" name="email" value={{currentUser.email}}> </div>
                        <br> <br>

                        <div id="billingaddress">
                            BILLING ADDRESS
                        </div>
                        <br>
                        <span class="fontUP">House No.:</span>
                        <div id="align"> <input type="number" class="inputRegister" name="bHouseNum" min="1" value={{currentUser.billing_add.house_number}}> </div>
                        <br> <br>
                        <span class="fontUP">Street:</span>
                        <div id="align"> <input type="text" class="inputRegister" name="bStreet" value={{currentUser.billing_add.street}}> </div>
                        <br> <br>
                        <span class="fontUP">Subdivision:</span>
                        <div id="align"> <input type="text" class="inputRegister" name="bSubdivision" value={{currentUser.billing_add.subdivision}}> </div>
                        <br> <br>
                        <span class="fontUP">City:</span>
                        <div id="align"> <input type="text" class="inputRegister" name="bCity" value={{currentUser.billing_add.city}}> </div>
                        <br> <br>
                        <span class="fontUP">Postal Code:</span>
                        <div id="align"> <input type="text" class="inputRegister" name="bPostal" value={{currentUser.billing_add.postal_code}}> </div>
                        <br> <br>
                        <span class="fontUP">Country:</span>
                        <div id="align"> 
                            <select name="bCountry" class="dropDown">
                                {% for getBCountry, getBCode in combined_bCountry %}
                                <option value="{{getBCode}}">{{ getBCountry }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br> <br>
                    </div>
                </div>

                <div id="container2">
                    <div id="accountinfo">
                        ACCOUNT INFORMATION
                    </div>
                        <br>
                        {% if errorUsername or errorUPolicy %}
                        <span class="fontUP">Username:</span>
                        <div id="align2"> 
                            <input type="text" class="errorInputRegister" name="user_name" value={{currentUser.user_name}}> 
                            {% if errorUsername or errorUPolicy %}
                                <p class="errorAst">*</p>
                            {% endif %}
                        </div>
                        <br> <br>
                        {% if errorUsername %}
                        <div id="align2">
                            <p id="error" style="top: -18%; left: 0%;">Username already exists.</p>
                        </div>
                        {% elif errorUPolicy %}
                         <div id="align2">
                            <p id="error" style="top: -18%; left: 0%;">Username is too common or should follow our <a onclick="document.getElementById('uPolicyModal').style.display='block'" id="aError" style="font-weight: bold; cursor: pointer;">username policy.</a></p>
                        </div>
                        {% endif %}
                        <br>
                        {% else %}
                        <span class="fontUP">Username:</span>
                        <div id="align2"> 
                            <input type="text" class="inputRegister" name="user_name" value={{currentUser.user_name}}> 
                            {% if errorUsername or errorUPolicy %}
                                <p class="errorAst">*</p>
                            {% endif %}
                        </div>
                        <br> <br>
                        {% endif %}
                    
                        {% if errorPassword or errorPPolicy %}
                        <span class="fontUP">Password:</span>
                        <div id="align2">
                            <input type="password" class="errorInputRegister" name="password1" value={{currentUser.password}}> 
                            {% if errorPassword or errorPPolicy %}
                                <p class="errorAst">*</p>
                            {% endif %}
                        </div>
                        <br> <br>
                        {% if errorPassword %}
                        <div id="align2">
                            <p id="error" style="top: -18%; left: 0%;">Passwords do not match.</p>
                        </div>
                        <br>
                        {% elif errorPPolicy %}
                        <div id="align2">
                            <p id="error" style="top: -18%; left: 0%;">Password should follow our <a onclick="document.getElementById('pPolicyModal').style.display='block'" class="aError">password policy.</a></p>
                        </div>
                        <br>
                        {% endif %}    
                        {% else %}
                        <span class="fontUP">Password:</span>
                        <div id="align2">
                            <input type="password" class="inputRegister" name="password1"> 
                            {% if errorPassword or errorPPolicy %}
                                <p class="errorAst">*</p>
                            {% endif %}
                        </div>
                        <br> <br>
                        {% endif %}
                    
                        {% if errorPassword or errorPPolicy %}
                        <span class="fontUP">Confirm password:</span>
                        <div id="align2"> 
                            <input type="password" class="errorInputRegister" name="password2" value={{currentUser.password}}> 
                            {% if errorPassword or errorPPolicy %}
                                <p class="errorAst">*</p>
                            {% endif %}
                        </div>
                        <br> <br>
                        {% if errorPassword %}
                        <div id="align2">
                            <p id="error" style="top: -18%; left: 0%;">Passwords do not match.</p>
                        </div>
                        <br>
                        {% elif errorPPolicy %}
                        <div id="align2">
                            <p id="error" style="top: -18%; left: 0%;">Password should follow our <a onclick="document.getElementById('pPolicyModal').style.display='block'" class="aError">password policy.</a></p>
                        </div>
                        <br>
                        {% endif %}
                        {% else %}
                        <span class="fontUP">Confirm password:</span>
                        <div id="align2"> 
                            <input type="password" class="inputRegister" name="password2"> 
                            {% if errorPassword or errorPPolicy %}
                                <p class="errorAst">*</p>
                            {% endif %}
                        </div>
                        <br> <br>
                        {% if errorUsername != True and errorUPolicy != True%}
                        <a id="uPolicy" onclick="document.getElementById('uPolicyModal').style.display='block'">Username Policy</a>
                        <a id="pPolicy" onclick="document.getElementById('pPolicyModal').style.display='block'">Password Policy</a>
                        {% endif %}
                        {% endif %}
                </div>

                <div id="container3">
                    <div id="shippingaddress">
                        SHIPPING ADDRESS
                    </div>
                        <br>
                        <span class="fontUP">House No.: </span>
                        <div id="align2"> <input type="number" class="inputRegister" name="sHouseNum" min="1" value={{currentUser.shipping_add.house_number}}> </div>
                        <br> <br>
                        <span class="fontUP">Street:</span>
                        <div id="align2"> <input type="text" class="inputRegister" name="sStreet" value={{currentUser.shipping_add.street}}> </div>
                        <br> <br>
                        <span class="fontUP">Subdivision:</span>
                        <div id="align2"> <input type="text" class="inputRegister" name="sSubdivision" value={{currentUser.shipping_add.subdivision}}> </div>
                        <br> <br>
                        <span class="fontUP">City:</span>
                        <div id="align2"> <input type="text" class="inputRegister" name="sCity" value={{currentUser.shipping_add.city}}> </div>
                        <br> <br>
                        <span class="fontUP">Postal Code:</span>
                        <div id="align2"> <input type="text" class="inputRegister" name="sPostal" value={{currentUser.shipping_add.postal_code}}> </div>
                        <br> <br>
                        <span class="fontUP">Country:</span>
                        <div id="align2">
                            <select name="sCountry" class="dropDown">
                                {% for getSCountry, getSCode in combined_sCountry %}
                                <option value="{{getSCode}}">{{ getSCountry }}</option>
                                {% endfor %}
                            </select>   
                        </div>
                </div>
                <button id="submitButton" href="#">UPDATE</button>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <footer>Copyright © 2018 Xcite Interactive. All Rights Reserved.</footer>
    </body>
</html>