<html>
    <head>
        {% load static %}
        <title>Home Page</title>
        <link rel="icon" href="{% static 'aionApp/Images/watch.png' %}" type="image" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="{% static 'aionApp/home.css' %}">
    </head>

    <body>
        <div id="navbar">
            <p id="logo" style="text-align:left"> 
                <a href="/aionApp/homePage/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                 AION
            </p>
            
            <span style="float:right">
                <form class="searchContainer">
                    <input type="text" id="searchBar" placeholder="SEARCH AION">
                    <a href="#"><img class="searchIcon" src="{% static 'aionApp/Images/search.png' %}"></a>
                </form>
                <a href="#">SHOP</a>
                <a onclick="document.getElementById('id01').style.display='block'">LOG IN</a>
                <a href="#"><img src="{% static 'aionApp/Images/cart.png' %}" id="cart"></a>
            </span>
        </div>
          
        <div id="messageContainer">
            <p id="bigMessageWelcome">WATCH YOUR ADVENTURE</p>
            <p id="smallMessageWelcome">SHOP NOW</p>
            <p id="buttonMessageWelcome"><a href="#banner"><img src="{% static 'aionApp/Images/arrow.png' %}" style="width:80px;height:80px;"></a></p>
        </div>

        <div id="banner">
            <div class="inline-block" id="newArrivalsContainer">
                <p id="bigMessageArrivals">NEW ARRIVALS</p>
                <p id="smallMessageArrivals"><a href="#" id="aSmall">SHOP NOW</a></p>
            </div>

            <div class="inline-block" id="imageContainer">
                <img src="{% static 'aionApp/Images/girl.jpg' %}">
            </div>
        </div>

        <div id="watches">
            <div class="inline-block" id="analogWatch">
                <span class="watchText"><a href="#" class="aWatch">ANALOG WATCH</a></span>
            </div>

            <div class="inline-block" id="digitalWatch">
                <span class="watchText"><a href="#" class="aWatch">DIGITAL WATCH</a></span>
            </div>

            <div class="inline-block" id="smartWatch">
                <span class="watchText"><a href="#" class="aWatch">SMART WATCH</a></span>
            </div>
        </div>
        
        <div id="id01" class="modal">
            <form class="modal-content animate" action="/action_page.php">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                
                <div class="loginContainer">
                    <div class="spacer" style="margin-bottom: 2em;"> </div>
                    <input type="text" placeholder="EMAIL ADDRESS" name="uname" required>
                    <input type="password" placeholder="PASSWORD" name="psw" required>
                    <button type="submit" id="loginBtn">LOG IN</button>
                </div>

                <div class="loginContainer" style="background-color:#f1f1f1; height: 5%;">
                    <span class="psw">Don't have an account? <a href="/aionApp/registerPage/" class="aLogin">Sign up now.</a></span>
                </div>
            </form>
        </div>
        
        <footer>Copyright © 2018 Xcite Interactive. All Rights Reserved.</footer>
    </body>
    
    <script>
        $('a[href*=#]').click(function(event){
            $('html, body').animate({
                scrollTop: $( $.attr(this, 'href') ).offset().top
            }, 500);
            event.preventDefault();
        });
        
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</html>