<html>
    <head>
        {% load static %}
        <title>Home Page</title>
        <link rel="icon" href="{% static 'aionApp/Images/watch.png' %}" type="image" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="{% static 'aionApp/home.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="navbar">
            <p id="logo" style="position: absolute; left: -3%;"> 
                {% if currentUser.user_id > 0 %}
                <a href="/aionApp/homePage/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                {% else %}
                <a href="/aionApp/exitSession/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                {% endif %}
                 AION
            </p>
            
             <form class="searchContainer" role="search" method="get" action="{% url 'aionApp:search' %}">
                <input type="text" id="searchBar" placeholder="SEARCH AION"
                class="form-control" name="q" value="{{ request.GET.q }}" pattern="[A-Za-z0-9-\s]+">
                <button type="submit" class="btn btn-default"><img class="searchIcon" src="{% static 'aionApp/Images/search.png' %}"></button>
            </form>
            
            {% if currentUser.user_id > 0 %}
            <span style="position: absolute; left: 47%;">
                <a href="/aionApp/profilePage/"><img src="{% static 'aionApp/Images/profile.png' %}" id="profile"></a>
                <a href="/aionApp/shopPage/">SHOP</a>
                <a href="/aionApp/exitSession/">LOG OUT</a>    
            </span>
            
            {% else %}
            <span style="position: absolute; left: 55%;">
                <a href="/aionApp/shopPage/">SHOP</a>
                <a onclick="document.getElementById('loginModal').style.display='block'">LOG IN</a>
            </span>
                {% endif %}
        </div>
          
        <div id="messageContainer">
            <p id="bigMessageWelcome">WATCH YOUR ADVENTURE</p>
            <p id="smallMessageWelcome">SHOP NOW</p>
            <p id="buttonMessageWelcome"><a href="#banner"><img src="{% static 'aionApp/Images/arrow.png' %}" style="width:80px;height:80px;"></a></p>
        </div>

        <div id="banner">
            <div class="inline-block" id="newArrivalsContainer">
                <p id="bigMessageArrivals">NEW ARRIVALS</p>
                <p id="smallMessageArrivals"><a href="/aionApp/shopPage/" id="aSmall">SHOP NOW</a></p>
            </div>

            <div class="inline-block" id="imageContainer">
                <img src="{% static 'aionApp/Images/girl.jpg' %}">
            </div>
        </div>

        <div id="watches">
            <div class="inline-block" id="analogWatch">
                <span class="watchText"><a href="/aionApp/analog/" class="aWatch">ANALOG WATCH</a></span>
            </div>

            <div class="inline-block" id="digitalWatch">
                <span class="watchText"><a href="/aionApp/digital/" class="aWatch">DIGITAL WATCH</a></span>
            </div>

            <div class="inline-block" id="smartWatch">
                <span class="watchText"><a href="/aionApp/smart/" class="aWatch">SMART WATCH</a></span>
            </div>
        </div>
        
        <div id="loginModal" class="modal">
            <form class="modal-content animate" action="{% url 'aionApp:homeLogIn' %}" method = "post">
                {% csrf_token %}
                <div class="imgcontainer">
                    <span onclick="document.getElementById('loginModal').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                
                <div class="loginContainer">
                    <div class="spacer" style="margin-bottom: 1em;"> </div>
                    <input type="text" placeholder="USERNAME" name="userName" required>
                    <input type="password" placeholder="PASSWORD" name="userPassword" required>
                    <button type="submit" id="loginBtn">LOG IN</button>

                    {% if error %}
                    <div class="spacer" style="margin-bottom: 1em;"> </div>
                    <p id="error">Invalid user name or password.</p>
                    {% endif %}
                </div>

                <div class="loginContainer" id="logIn" style="background-color:#f1f1f1; height: 10%;">
                    <span class="psw">Don't have an account? <a href="/aionApp/registerPage/" class="aLogin">Sign up now.</a></span>
                </div>
            </form>
        </div>
        
        <footer>Copyright © 2018 Xcite Interactive. All Rights Reserved.</footer>
    </body>
    
    <script>
        {% if error %}
        $(document).ready(function() {
            $('#loginModal').modal('show');
        });
        {% endif %}
    </script>
</html>