<html>
    <head>
        {% load static %}
        <title>Profile Page</title>
        <link rel="icon" href="{% static 'aionApp/Images/watch.png' %}" type="image" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="{% static 'aionApp/purchasepage.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div id="navbar">
            <p id="logo" style="position: absolute; left: -3%;">  
                {% if currentUser.user_id > 0 %}
                <a href="/aionApp/homePage/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                {% else %}
                <a href="/aionApp/exitSession/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                {% endif %}
                 AION
            </p>
            
            <form class="searchContainer" role="search" method="get" action="{% url 'aionApp:search' %}">
                <input type="text" id="searchBar" placeholder="SEARCH AION"
                class="form-control" name="q" value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-default"><img class="searchIcon" src="{% static 'aionApp/Images/search.png' %}"></button>
            </form>
            
            <span style="position: absolute; left: 47%;">
                <a href="/aionApp/profilePage/"><img src="{% static 'aionApp/Images/profile.png' %}" id="profile"></a>
                <a href="/aionApp/shopPage/">SHOP</a>
                <a href="/aionApp/exitSession/">LOG OUT</a>
            </span>
        </div>
        
        <div id="shopContainer">
            <p id="bigMessage">PURCHASE HISTORY</p>
            <div id="watchRow">
                {% if userProducts %}
                    {% for buy_watches in userProducts %}
                         <div class="inline-block" id="watchShop" style="background-image: url({{ MEDIA_URL }}{{ buy_watches.picture.url }})">
                            <span class="watchText"><a href="#" class="aWatch" onclick="openWatchModal{{buy_watches.id}}()">QUICK VIEW</a></span>
                            <button class="watchShopButton" onclick="openReviewModal{{buy_watches.id}}()">LEAVE A REVIEW</button>
                        </div>
                        <div class="inline-block" style="margin-right: 1em;"> </div>
                    {% endfor %}
                {% endif %}
            </div>   
        </div>
        
        {% if userProducts %}
        {% for buy_watches in userProducts %}
            <div id="watchModal{{buy_watches.id}}" class="modal">
                <form class="watchModal-content animate"  method = "post">
                    <div class="imgcontainer">
                        <span onclick="closeWatchModal{{buy_watches.id}}()" class="watchShop" title="Close Modal">&times;</span>
                    </div>

                    <div class="watchModalContainer">
                        <div class="spacer" style="margin-bottom: 1em;"> </div>
                        <div class="col-md-6">
                            <img src="{{ MEDIA_URL }}{{ buy_watches.picture.url }}" id="watchImg">
                        </div>
                        <div class="col-md-6">
                            <p id="productName">{{buy_watches.name}}</p>
                            <p id="description">{{buy_watches.description}}</p>
                            <p id="price">${{buy_watches.price}}</p>&nbsp;
                            <a id="checkReviewsText" onclick="openReviewModal{{buy_watches.id}}()">CHECK REVIEWS</a>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </form>
            </div>
        {% endfor %}
        {% endif %}
        
        {% if userProducts %}
        {% for buy_watches in userProducts %}
            <div id="reviewProductModal{{buy_watches.id}}" class="modal">
                <form class="reviewProductmodal-content animate" action="{% url 'aionApp:addReview' buy_watches.id %}" method="post">
                    {% csrf_token %}
                    <div class="imgcontainer">
                        <span onclick="closeReviewModal{{buy_watches.id}}()" class="watchShop" title="Close Modal">&times;</span>
                    </div>
                    <div class="reviewProductContainer">
                        <div class="spacer" style="margin-bottom: 1em;"> </div>
                        <p id="reviewText">REVIEW A PRODUCT</p>
                        <textarea id="reviewInput" name="review"></textarea>
                        <button id="submitButton" href="#">SUBMIT</button>
                    </div>
                </form>
            </div>
        {% endfor %}
        {% endif %}
        
        <footer>Copyright © 2018 Xcite Interactive. All Rights Reserved.</footer>
    </body>
    
    {% if userProducts %}
    {% for buy_watches in userProducts %}
        <script>
            function openWatchModal{{buy_watches.id}}() {          
                document.getElementById('watchModal{{buy_watches.id}}').style.display='block';
            }

            function closeWatchModal{{buy_watches.id}}() {
                document.getElementById('watchModal{{buy_watches.id}}').style.display='none';
            }
            
            function openReviewModal{{buy_watches.id}}(){
                document.getElementById("reviewProductModal{{buy_watches.id}}").style.display = "block";
            }

            function closeReviewModal{{buy_watches.id}}(){
                document.getElementById("reviewProductModal{{buy_watches.id}}").style.display = "none";
            }
        </script>
    {% endfor %}
    {% endif %}
</html> 