<html>
    <head>
        {% load static %}
        <title>Register Page</title>
        <link rel="icon" href="{% static 'aionApp/Images/watch.png' %}" type="image" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="{% static 'aionApp/register.css' %}">
    </head>
    
    <body>
        <div id="navbar">
            <p id="logo" style="text-align:left"> 
                <a href="/aionApp/homePage/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                 AION
            </p>
        </div>
        
        
    </body>
</html>