<html>
    <head>
        {% load static %}
        <title>Register Page</title>
        <link rel="icon" href="{% static 'aionApp/Images/watch.png' %}" type="image" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="{% static 'aionApp/register.css' %}">
    </head>
    
    <body>
        <div id="navbar">
            <p id="logo" style="position: absolute; left: -3%; bottom: -33%;">  
                <a href="/aionApp/exitSession/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                 AION
            </p>
            
            <form class="searchContainer">
                <input type="text" id="searchBar" placeholder="SEARCH AION">
                <a href="#"><img class="searchIcon" src="{% static 'aionApp/Images/search.png' %}"></a>
            </form>
            
            <span style="position: absolute; left: 65%;">
                <a href="/aionApp/shopPage/">SHOP</a>
            </span>
        </div>
        
        <div id="registerContainer">
            <p id="bigMessage">REGISTER</p>

            <div id="container1">
                <div id="info">
                    <div id="personalinfo">
                        Personal Information
                    </div>
                    <br>
                    <span class="fontUP">Last Name:</span> 
                    <div id="align"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">First Name:</span>
                    <div id="align"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">Middle Initial:</span>
                    <div id="align"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">E-mail Address:</span>
                    <div id="align"> <input type="text" class="inputRegister"> </div>
                    <br> <br>

                    <div id="billingaddress">
                        Billing Address
                    </div>
                    <br>
                    <span class="fontUP">House No.:</span>
                    <div id="align"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">Street:</span>
                    <div id="align"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">Subdivision:</span>
                    <div id="align"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">City:</span>
                    <div id="align"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">Postal Code:</span>
                    <div id="align"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">Country:</span>
                    <div id="align"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                </div>
            </div>

            <div id="container2">
                <div id="accountinfo">
                    Account Information
                </div>
                    <br>
                    <span class="fontUP">Username:</span>
                    <div id="align2"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">Password:</span>
                    <div id="align2"><input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">Confirm password:</span>
                    <div id="align2"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
            </div>
            
            <div id="container3">
                <div id="shippingaddress">
                    Shipping Address
                </div>
                    <br>
                    <span class="fontUP">House No.: </span>
                    <div id="align2"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">Street:</span>
                    <div id="align2"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">Subdivision:</span>
                    <div id="align2"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">City:</span>
                    <div id="align2"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">Postal Code:</span>
                    <div id="align2"> <input type="text" class="inputRegister"> </div>
                    <br> <br>
                    <span class="fontUP">Country:</span>
                    <div id="align2"> <input type="text" class="inputRegister"> </div>
            </div>
        </div>
        

    </body>
</html>