<html>
    <head>
        {% load static %}
        <title>Shop Page</title>
        <link rel="icon" href="{% static 'aionApp/Images/watch.png' %}" type="image" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="{% static 'aionApp/shop.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div id="navbar">
            <p id="logo" style="position: absolute; left: -3%;">  
                {% if currentUser.user_id > 0 %}
                <a href="/aionApp/homePage/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                {% else %}
                <a href="/aionApp/exitSession/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                {% endif %}
                 AION
            </p>
            
            <form class="searchContainer">
                <input type="text" id="searchBar" placeholder="SEARCH AION">
                <a href="#"><img class="searchIcon" src="{% static 'aionApp/Images/search.png' %}"></a>
            </form>
            
            {% if currentUser.user_id > 0 %}
            <span style="position: absolute; left: 47%;">
                <a href="#"><img src="{% static 'aionApp/Images/cart.png' %}" id="cart"></a>
                <a href="#">SHOP</a>
                <a href="/aionApp/exitSession/">SIGN OUT</a>    
            </span>
            
            {% else %}
            <span style="position: absolute; left: 55%;">
                <a href="#">SHOP</a>
                <a onclick="document.getElementById('loginModal').style.display='block'">LOG IN</a>
            </span>
                {% endif %}
        </div>
        
        <div id="loginModal" class="modal">
            <form class="modal-content animate" action="{% url 'aionApp:shopLogIn' %}" method = "post">
                {% csrf_token %}
                <div class="imgcontainer">
                    <span onclick="document.getElementById('loginModal').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                
                <div class="loginContainer">
                    <div class="spacer" style="margin-bottom: 1em;"> </div>
                    <input type="text" placeholder="EMAIL ADDRESS" name="userName" required>
                    <input type="password" placeholder="PASSWORD" name="userPassword" required>
                    <button type="submit" id="loginBtn">LOG IN</button>

                    {% if error %}
                    <div class="spacer" style="margin-bottom: 1em;"> </div>
                    <p id="error">Invalid user name or password.</p>
                    {% endif %}
                </div>

                <div class="loginContainer" id="logIn" style="background-color:#f1f1f1; height: 10%;">
                    <span class="psw">Don't have an account? <a href="/aionApp/registerPage/" class="aLogin">Sign up now.</a></span>
                </div>
            </form>
        </div>
    </body>
    
    <script>
        {% if error %}
        $(document).ready(function() {
            $('#loginModal').modal('show');
        });
        {% endif %}
    </script>
</html>