<html>
    <head>
        {% load static %}
        <title>Shop Page</title>
        <link rel="icon" href="{% static 'aionApp/Images/watch.png' %}" type="image" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="{% static 'aionApp/shop.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div id="navbar">
            <p id="logo" style="position: absolute; left: -3%;">  
                {% if currentUser.user_id > 0 %}
                <a href="/aionApp/homePage/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                {% else %}
                <a href="/aionApp/exitSession/"><img src="{% static 'aionApp/Images/watch.png' %}" id="watch"></a>
                {% endif %}
                 AION
            </p>
            
            <form class="searchContainer">
                <input type="text" id="searchBar" placeholder="SEARCH AION">
                <a href="#"><img class="searchIcon" src="{% static 'aionApp/Images/search.png' %}"></a>
            </form>
            
            {% if currentUser.user_id > 0 %}
            <span style="position: absolute; left: 47%;">
                <a href="#"><img src="{% static 'aionApp/Images/cart.png' %}" id="cart"></a>
                <a href="#">SHOP</a>
                <a href="/aionApp/exitSession/">SIGN OUT</a>    
            </span>
            
            {% else %}
            <span style="position: absolute; left: 55%;">
                <a href="#">SHOP</a>
                <a onclick="document.getElementById('loginModal').style.display='block'">LOG IN</a>
            </span>
                {% endif %}
        </div>
        
        <div id="loginModal" class="modal">
            <form class="modal-content animate" action="{% url 'aionApp:shopLogIn' %}" method = "post">
                {% csrf_token %}
                <div class="imgcontainer">
                    <span onclick="document.getElementById('loginModal').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                
                <div class="loginContainer">
                    <div class="spacer" style="margin-bottom: 1em;"> </div>
                    <input type="text" placeholder="EMAIL ADDRESS" name="userName" required>
                    <input type="password" placeholder="PASSWORD" name="userPassword" required>
                    <button type="submit" id="loginBtn">LOG IN</button>

                    {% if error %}
                    <div class="spacer" style="margin-bottom: 1em;"> </div>
                    <p id="error">Invalid user name or password.</p>
                    {% endif %}
                </div>

                <div class="loginContainer" id="logIn" style="background-color:#f1f1f1; height: 10%;">
                    <span class="psw">Don't have an account? <a href="/aionApp/registerPage/" class="aLogin">Sign up now.</a></span>
                </div>
            </form>
        </div>
        
        <div id="shopContainer">
            <p id="bigMessage">ALL  WATCHES</p>
            
            <div id="watchRow1">
                 <div class="inline-block" id="analogWatch1">
                    <span class="watchText"><a href="#" class="aWatch" onclick="document.getElementById('watchModal1').style.display='block'">QUICK VIEW</a></span>
                </div>
                <div class="inline-block" style="margin-right: 5em;"> </div>
                
                <div class="inline-block" id="analogWatch2">
                    <span class="watchText"><a href="#" class="aWatch" onclick="document.getElementById('watchModal2').style.display='block'">QUICK VIEW</a></span>
                </div>
                <div class="inline-block" style="margin-right: 5em;"> </div>
                
                <div class="inline-block" id="analogWatch3">
                    <span class="watchText"><a href="#" class="aWatch" onclick="document.getElementById('watchModal3').style.display='block'">QUICK VIEW</a></span>
                </div>
                <div class="inline-block" style="margin-right: 5em;"> </div>
            </div>
        </div>
        
        <!-- MODAL 1 FOR FIRST IMAGE -->
        <div id="watchModal1" class="modal">
            <form class="watchModal-content animate" method = "post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('watchModal1').style.display='none'" class="watchShop" title="Close Modal">&times;</span>
                </div>
                
                <div class="watchModalContainer">
                    <div class="spacer" style="margin-bottom: 1em;"> </div>
                    <div class="col-md-6">
                        <img src="{% static 'aionApp/Images/analogShop1.jpg' %}" id="watchImg">
                    </div>
                    <div class="col-md-6">
                        <p id="productName">I'M A WATCHIE</p>
                        <p id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p id="price">$1,299</p>&nbsp;
                        <p id="stock">Only 1 left!</p>
                        <p id="quantityText">QUANTITY</p>
                        <input type="number" value="1" name="quantity" min="1"/>
                        <br/>
                        <br/>
                        <button id="addToCart" href="#">ADD TO CART</button>
                    </div>
                </div>
            </form>
        </div>
        
        <!-- MODAL 2 FOR SECOND IMAGE -->
        <div id="watchModal2" class="modal">
            <form class="watchModal-content animate" method = "post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('watchModal2').style.display='none'" class="watchShop" title="Close Modal">&times;</span>
                </div>
                
                <div class="watchModalContainer">
                    <div class="spacer" style="margin-bottom: 1em;"> </div>
                    <div class="col-md-6">
                        <img src="{% static 'aionApp/Images/analogShop2.jpg' %}" id="watchImg">
                    </div>
                    <div class="col-md-6">
                        <p id="productName">I'M A WATCHIE</p>
                        <p id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p id="price">$1,299</p>&nbsp;
                        <p id="stock">Only 1 left!</p>
                        <p id="quantityText">QUANTITY</p>
                        <input type="number" value="1" name="quantity" min="1"/>
                        <br/>
                        <br/>
                        <button id="addToCart" href="#">ADD TO CART</button>
                    </div>
                </div>
            </form>
        </div>
        
        <!-- MODAL 3 FOR THIRD IMAGE -->
        <div id="watchModal3" class="modal">
            <form class="watchModal-content animate" method = "post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('watchModal3').style.display='none'" class="watchShop" title="Close Modal">&times;</span>
                </div>
                
                <div class="watchModalContainer">
                    <div class="spacer" style="margin-bottom: 1em;"> </div>
                    <div class="col-md-6">
                        <img src="{% static 'aionApp/Images/analogShop3.jpg' %}" id="watchImg">
                    </div>
                    <div class="col-md-6">
                        <p id="productName">I'M A WATCHIE</p>
                        <p id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p id="price">$1,299</p>&nbsp;
                        <p id="stock">Only 1 left!</p>
                        <p id="quantityText">QUANTITY</p>
                        <input type="number" value="1" name="quantity" min="1"/>
                        <br/>
                        <br/>
                        <button id="addToCart" href="#">ADD TO CART</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
    
    <script>
        {% if error %}
        $(document).ready(function() {
            $('#loginModal').modal('show');
        });
        {% endif %}
    </script>
</html>